.div.m-4
  .page.header
    %h1.mb-4= t('application.list_of', model: t('modules.user.other'))

%form.form-inline.mb-4
  .form-group
    = text_field_tag :search, params[:search], class: "form-control", placeholder: t('application.search_users')
    = submit_tag t('application.search'), class: "btn btn-primary"
  
%table.table.table-striped
  %thead
    %tr
      %th= t('activerecord.attributes.user.email')
      %th= t('activerecord.attributes.user.category')
      %th= t('activerecord.attributes.user.address')
      %th
      %th
      %th
  %tbody
    - @users.each do |user|
      %tr
        %td= user.email
        %td= user.category.category_name
        %td= user.address
        %td= link_to t('application.show'), user_path(user), class: "btn btn-info"
        %td= link_to t('application.edit'), edit_user_path(user), class: "btn btn-success"
        %td= button_to t('application.delete'), user_path(user), method: :delete, class: "btn btn-danger", data: { confirm: t('application.confirmation.delete') }
    %table.table.table-striped
  %thead





