.div.m-4
  .card 
    .card-body
      %h5.card-title
        = t('activerecord.attributes.user.email')
      %p.card-text= @user.email
      %h5.card-title
        = t('activerecord.attributes.user.category_name')
      %p.card-text= @user.category.category_name
      %h5.card-title
        = t('activerecord.attributes.user.address')
      %p.card-text= @user.address

= link_to t('application.back'), users_path, class: 'btn btn-primary'


