.div.m-4
  .card 
    .card-body
      %h5.card-title
        = t('activerecord.attributes.user.email')
      %p.card-text= @user.email
      %h5.card-title
        = t('activerecord.attributes.user.category_name')
      %p.card-text= @user.category.category_name
      %h5.card-title
        = t('activerecord.attributes.user.address')
      %p.card-text= @user.address
      %h5.card-title
        = t('activerecord.attributes.user.status')
      %p.card-text= t("activerecord.attributes.user.status_type.#{@user.status}")

= link_to t('application.back'), users_path, class: 'btn btn-primary'


