= form_for @product do |f|
  .form-container
    - if @product.errors.any?
      .error-explanation
        %h2= "#{pluralize(@product.errors.count, "error")} prohibited this product from being saved:"
        %ul
          - @product.errors.full_messages.each do |message|
            %li= message

    .field
      = f.label :name, t('activerecord.attributes.product.name')
      = f.text_field :name, class: "form-input"

    .field
      = f.label :desc, t('activerecord.attributes.product.desc')
      = f.text_field :desc, class: "form-input"

    .field
      = f.label :image, t('activerecord.attributes.product.image')
      = f.file_field :image

    .field
      = f.label :price, t('activerecord.attributes.product.price')
      = f.number_field :price, class: "form-input"

    .field
      = f.label :status, t('activerecord.attributes.product.status')
      = f.select :status, [['', ''], ['Active', true], ['Inactive', false]], { include_blank: true }, class: "form-select"

    .field
      = f.label :menu_id, t('activerecord.attributes.product.menu_id')
      = f.text_field :menu_id, class: "form-input"

    .field
      = f.label :total_sales, t('activerecord.attributes.product.total_sales')
      = f.number_field :total_sales, class: "form-input"

    .actions
      = f.submit t('application.save'), class: "form-button"








