%p{:style => "color: green"}= notice

.div.m-4
  .page.header
    %h1.mb-4= t('application.list_of', model: t('modules.product.other'))
    .float-end.pb-4
      = link_to t('application.create'), new_product_path, class: "btn btn-primary" 
      = button_to "Log Out", destroy_user_session_path, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' }, form: {action: destroy_user_session_path, method: :delete}

%table.table.table-striped
  %thead
    %tr
      %th= t('activerecord.attributes.product.name')
      %th= t('activerecord.attributes.product.desc')
      %th= t('activerecord.attributes.product.price')
      %th= t('activerecord.attributes.product.status')
      %th= t('activerecord.attributes.product.menu_id') # Nueva columna para mostrar el ID del menú
      %th
      %th
      %th
  %tbody
    - @products.each do |product|
      %tr
        %td= product.name
        %td= product.desc
        %td= product.price
        %td= product.status ? t('application.status.active') : t('application.status.inactive')
        %td= product.menu_id # Mostrar el ID del menú asociado al producto
        %td= link_to t('application.show'), product, class: "btn btn-info"
        %td= link_to t('application.edit'), edit_product_path(product), class: "btn btn-success"
        %td= button_to t('application.delete'), product, method: :delete, class: "btn btn-danger"

-# Add the following line if you want to display a notice after logging out
%p= notice

-# Add the following line if you want to display an error after logging out
%p= alert







