.div.m-4
  .page.header
    %h1.mb-4= t('application.list_of', model: t('modules.product.other'))
    .float-end.pb-4
      = link_to t('application.create'), new_product_path, class: "btn btn-primary" 

%table.table.table-striped
  %thead
    %tr
      %th= t('activerecord.attributes.product.name')
      %th= t('activerecord.attributes.product.desc')
      %th= t('activerecord.attributes.product.price')
      %th= t('activerecord.attributes.product.status')
      %th= t('activerecord.attributes.product.menu_id')
      %th
      %th
      %th
  %tbody
    - @products.each do |product|
      %tr
        %td= product.name
        %td= product.desc
        %td= product.price
        %td= product.status ? t('activerecord.attributes.product.status_type.active') : t('activerecord.attributes.product.status_type.inactive')
        %td= product.menu_id
        %td= link_to t('application.show'), product, class: "btn btn-info"
        %td= link_to t('application.edit'), edit_product_path(product), class: "btn btn-success"
        %td= button_to t('application.delete'), product, method: :delete, class: "btn btn-danger"

%h2= t('modules.order.other')
= form_tag products_path, method: :get do
  = select_tag :status, options_for_select([[t('activerecord.attributes.order.on_time'), '1'], [t('activerecord.attributes.order.over_time'), '2'], [t('activerecord.attributes.order.delayed'), '3'], [t('activerecord.attributes.order.canceled'), '4'], [t('activerecord.attributes.order.delivered'), '5']]), include_blank: t('application.all')
  = submit_tag t('application.filter')

= form_tag products_path, method: :get do
  = label_tag :start_date, t('activerecord.attributes.order.start_date')
  = text_field_tag :start_date, params[:start_date], placeholder: 'YYYY-MM-DD'
  = label_tag :end_date, t('activerecord.attributes.order.end_date')
  = text_field_tag :end_date, params[:end_date], placeholder: 'YYYY-MM-DD'
  = submit_tag t('application.filter')

= form_tag products_path, method: :get do
  = label_tag :order_name, t('application.search_users')
  = text_field_tag :order_name, params[:order_name]
  = submit_tag t('application.search')

- @orders.each do |order|
  - if order.products.present?
    .card
      .card-header
        %h3= order.order_name
      .card-body
        %p= t('activerecord.attributes.order.order_status') + ": " + t("activerecord.attributes.order.order_status_type.#{order.order_status}")
        = form_for order, url: order_path(order), method: :patch do |f|
          = f.select :order_status, options_for_select([[t('activerecord.attributes.order.on_time'), '1'], [t('activerecord.attributes.order.over_time'), '2'], [t('activerecord.attributes.order.delayed'), '3'], [t('activerecord.attributes.order.canceled'), '4'], [t('activerecord.attributes.order.delivered'), '5']], selected: order.order_status)
          = f.submit "Guardar"
        %table.table.table-striped
          %thead
            %tr
              %th= t('activerecord.attributes.product.name')
              %th= t('activerecord.attributes.product.desc')
              %th= t('activerecord.attributes.product.price')
          %tbody
            - order.products.each do |product|
              %tr
                %td= product.name
                %td= product.desc
                %td= product.price
                















