%p#notice= notice

.div.m-4
  .card 
    .card-body
      %h5.card-title
        = t('activerecord.attributes.product.id')
      %p.card-text= @product.id
      %h5.card-title
        = t('activerecord.attributes.product.name')
      %p.card-text= @product.name
      %h5.card-title
        = t('activerecord.attributes.product.desc')
      %p.card-text= @product.desc
      %h5.card-title
        = t('activerecord.attributes.product.price')
      %p.card-text= @product.price
      %h5.card-title
        = t('activerecord.attributes.product.status')
      %p.card-text= @product.id
      %h5.card-title
        = t('activerecord.attributes.product.total_sales')
      %p.card-text= @product.total_sales
      %h5.card-title
        = t('activerecord.attributes.product.image')
      %p
        = image_tag @product.image

  .row.mt-4
    .offset-3.col-3
      = link_to t('application.back'), products_path, class: "btn btn-secondary btn-block"

